SQL_SERVER=
SQL_DATABASE=
SQL_USERNAME=
SQL_PASSWORD=
# Optional settings
# SQL_PORT: specify a port if not using the default (1433). Example: 1433
SQL_PORT=
# SQL_ENCRYPT: set to 'yes' or 'true' to enable TLS encryption
SQL_ENCRYPT=
# SQL_TRUST_SERVER_CERT: set to 'no' or 'false' to disable trusting unverified certificates
SQL_TRUST_SERVER_CERT=